<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 7+8 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, vero natus. Quibusdam, est necessitatibus ad perferendis dolores dignissimos, eligendi, temporibus cumque tenetur voluptates qui? Explicabo eius quis veniam debitis possimus.</p>
    <button>click me</button>
    
</body>
</html>